<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IMS-Edit Supplies</title>
  <link rel="icon" type="image/x-icon" href="/favicon.png">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: black;
      color: white;
    }
    .dark-header {
      background-color: #1174de;
      color: white;
      padding: 40px 0;
      margin-bottom: 20px;
    }
    .custom-heading {
      margin-bottom: 80px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center mb-4 dark-header">
      <div class="col text-center">
        <h1>INVENTORY MANAGEMENT SYSTEM</h1>
      </div>
    </div>
    <div class="row mb-4 custom-heading">
      <div class="col">
        <h2>Edit Supplies</h2>
        <form action="/update/<%= row.SUPPLIER_ID %>" method="post">
          <div class="form-group">
            <label for="suppname">Supplier Name:</label>
            <input type="text" class="form-control" id="suppname" name="suppname" value="<%= row.SUPPLIER_NAME %>" required>
          </div>
          <div class="form-group">
            <label for="suppcont">Supplier Contact:</label>
            <input type="text" class="form-control" id="suppcont" name="suppcont" value="<%= row.SUPPLIER_CONTACT %>" required>
          </div>
          <div class="form-group">
            <label for="suppadd">Supplier Address:</label>
            <input type="text" class="form-control" id="suppadd" name="suppadd" value="<%= row.SUPPLIER_ADDRESS %>" required>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>