<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IMS-Tax Table</title>
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: black;
      color: white;
    }
    .dark-header {
      background-color: #1174de;
      color: white;
      padding: 40px 0;
      margin-bottom: 20px;
    }
    .custom-heading {
      margin-bottom: 80px;
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center mb-4 dark-header">
      <div class="col text-center">
        <h1>INVENTORY MANAGEMENT SYSTEM</h1>
      </div>
    </div>
    <div class="row mb-4 custom-heading">
      <div class="col">
        <h2>TAX MASTER TABLE</h2>
        <form action="/submitTax" method="post" id="taxForm">
          <!--<label for="suppid">Supplier ID:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="text" id="suppid" name="suppid">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
          <label for="taxtype">Tax Type:</label>&nbsp;
          <input type="text" id="taxtype" name="taxtype">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label for="taxrate">Rate:</label>&nbsp;
          <input type="text" id="taxrate" name="taxrate">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div class="table-responsive"> 
      <table class="table table-striped table-bordered" id="table">
        <thead class="thead-dark">
          <table class="table table-striped" style="color: white; --bs-table-striped-color: white;">

          <tr>
            <th>TAX_TYPE</th>
            <th>RATE</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(row => { %>
            <tr>
              <td><%= row.TAX_TYPE %></td>
              <td><%= row.RATE %></td>
              <td>
                <a href="/edit/<%= row.TAX_ID %>" class="btn btn-primary btn-sm">Edit</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

<a class="btn btn-primary" href="http://127.0.0.1:5500/landing.html" role="button">Back</a>
</div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>